body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.89);
    font-size: 20px;
}

.star {
    color: red;
    font-size: 30px;
}

.star:hover {
    color: yellow;
}

.line {
    color: green;
}

.line:hover {
    color: #0080ff;
}